
.ToDo{
  font-family: Arial, Helvetica, sans-serif;
  color: #fffefe;;
  }
  
.Motivation{
  font-family: Arial, Helvetica, sans-serif;
  color: #fffefe;;
  }
  
  p{
    color: #fffefe;
    font-size: 20px;
  }

  h1{
color: #fffefe
  }

.eduText{
    text-align: center;
    font-size: 20px;
    color: #fffefe;
    }

.awards{
      text-align: center;
    font-size: 20px;
    color: #fffefe;
    }

.Pic{
  color: #A9A9A9;
  align-content: justify;
  position: absolute;
  left: 35%;
 
}

.interests{
  margin-bottom: 35px;
  color: #fffefe;
}

/* Icon Styling */
.Icons{
  display: block;
  direction: ltr;
  font-size: 32pt;
  color: #219897;
  padding: 1px;
  text-decoration: none;
  width: 20px;
  transform: translate(0%, 300%);
  position: fixed;
}

.Icons a{
  text-decoration: none;
}

.Icons:hover{
  overflow: visible;
  display: block;
}

.Icons:active{
  text-decoration: none;
  color: white;

}
.Icons:visited{
  color: inherit;
}

.Logo{
  width: 10px;
}

#Technology{
  text-decoration: none;
  margin-top: 800px;
  text-align: center;
  margin-bottom: 50px;
  color: #fffefe;
}

#Learning{
  color:#fffefe;
  text-align: center;
  list-style: square;
  margin: 20px;
  font-size: 20px;
}

#Planning{
  color:#fffefe;
  margin: 15px;
  text-align: center;
  font-size: 20px;
  list-style: square;
 justify-content: center;
}

html{
  scroll-behavior: smooth;
}